<script>

    {define addHiddenInput}
	$('<input class="g-recaptcha-hidden" type="hidden" value="' + token + '" name="g-recaptcha-response">').insertAfter(this);
    {/define}


    {* Funciton called after load google script *}
	function onloadRecaptchaScript() {
		let token = getCookie("recaptcha-submit");
		if (!token) {
			$('.btn-recaptcha').each(function () {

				initRecaptchaSubmit($(this), $(this).closest('form'));

			});
		} else {
			$('.btn-recaptcha').each(function () {
                if ($(this).data('token')) {
                    {include addHiddenInput}
                } else {
                	deleteCookie("recaptcha-submit");
	                initRecaptchaSubmit($(this), $(this).closest('form'));
                }
			});
		}
	}

    {* Reload when hidden can be deleted by redraw snippet*}
	$.nette.ext('snippets').after(function () {
		let token = getCookie("recaptcha-submit");

		if (!token) {
			$('.btn-recaptcha').each(function () {
				if (!$(this).next().hasClass('g-recaptcha-hidden')) {

					if (!$(this).next().hasClass('g-recaptcha-hidden')) {
						try {
							initRecaptchaSubmit($(this), $(this).closest('form'));
						}
						catch(err) {
							console.log('Already inited');
						}
					}
				}
			});
		} else {
			$('.btn-recaptcha').each(function () {
				if (!$(this).next().hasClass('g-recaptcha-hidden')) {
                    {include addHiddenInput}
				}
			});
		}
	});

    {* Function to init each button, params must be jQuery objects *}
	function initRecaptchaSubmit(submit, form) {

		grecaptcha.render(submit.get(0), {
			'sitekey': submit.data('sitekey'),
			'callback': function (token) {

				console.log('Recaptcha OK');

				let date = new Date();
				date.setFullYear(date.getFullYear() + 10);
				document.cookie = 'recaptcha-submit=' + token + '; path=/; expires=' + date.toGMTString();

				if (Nette.validateForm(form.get(0))) {
					if (form.hasClass('ajax')) {
						$.nette.ajax({
							type: "POST",
							url: form.attr('action'),
							data: form.serialize(),
						}).done(function () {
                            {include addHiddenInput}
						});
					} else {
						form.submit();
					}
				} else {
					let old_element = submit.get(0);
					let new_element = old_element.cloneNode(true);
					old_element.parentNode.replaceChild(new_element, old_element);
				}
			},

		});
	}

    {* Functionn to load cookie *}
	function getCookie(cname) {
		let name = cname + "=";
		let decodedCookie = decodeURIComponent(document.cookie);
		let ca = decodedCookie.split(';');
		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}

    function deleteCookie(name) {
	    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadRecaptchaScript&render=explicit" async defer></script>